<h1> Reset pass word</h1>

<% 
     if(typeof error !== 'undefined'){
        %>
        <h2 style="color: red;"> <%=  error %></h2>
        <%
     }
%>

<form action="reset-the-password?token=<%= resetData.token %>" method="POST">
    <input type="hidden" name="user_id" value="<%=  resetData.user_id %>">
    <input type="password" name="password" required placeholder="New Password" >
<br><br>

<input type="password" name="c_password" required placeholder="confirm password">
<br><br>

<input type="submit" value="Reset Password">


</form>